{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Темы форума</h1>
    <ul class="list-group">
        {% for topic in page_obj %}
            <li class="list-group-item">
                <a href="{% url 'topic_detail' topic.id %}">
                    {{ topic.title }} - {{ topic.created_at }} by {{ topic.author.username }} ({{ topic.replies.count }} ответов)
                </a>
            </li>
        {% empty %}
            <li class="list-group-item">Нет доступных тем.</li>
        {% endfor %}
    </ul>

    <div class="pagination mt-4">
        <span class="mr-2">{% if page_obj.has_previous %}<a href="?page=1">&laquo; Первая</a>{% endif %}</span>
        <span class="mr-2">{% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>{% endif %}</span>
        <span class="mr-2">{% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">Следующая</a>{% endif %}</span>
        <span>{% if page_obj.has_next %}<a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>{% endif %}</span>
    </div>
</div>
{% endblock %}
